<h2>Shoe Brand: <%= @brand.name() %></h2>
<hr>
<h3>Store List</h3>
<% if @stores.any? %>
  <ol>
    <% @brand.stores.each() do | store | %>
      <li><%= store.name() %></li>
    <% end %>
  </ol>
<% else %>
  <h4>No Stores at this time.</h4>
<% end %>
<hr>
<form action="/brands/<%= @brand.id() %>/update" method="post">
  <button type="submit">Update</button>
</form>
<hr>
<a href="/brands">Brands</a><br>
<a href="/">Home</a>
