<div class="row">
  <div class="col-md-6 col-3-offset">
    <h2>Shoe Distribution</h2>
    <hr>
    <h3><a href="/brands">Brand view</a></h3>
    <h3><a href="/stores">Stores</a></h3>
  </div>
</div>
