<hr>
<div class="row">
  <div class="col-md-10 col-2-offset">
    <h2>Track Shoes and Stores that stock them</h2>
    <hr>
    <h3><a href="/stores">Stores</a></h3>
    <h3><a href="/brands">Brands</a></h3>
    <hr>
  </div>
</div>
