<h2>Stores</h2>
<hr>
<% if @stores.any? %>
  <ul>
    <% @stores.each do | store | %>
      <li><a href="/stores/<%= store.id() %>"><%= store.name() %></a></li>
    <% end %>
  </ul>
<% else %>
  <h4>No Stores at this time.</h4>
<% end %>

<h3>Add a Store</h3>
<form action="/stores" method="post">
  <label for="store_name">Store Name:</label>
  <input type="text" name="store_name">
  <button type="submit">Save</button>
</form>
<hr>
<a href="/">Home</a>
